In [12]:
from rdflib import ConjunctiveGraph, URIRef, Literal, Namespace, Dataset
SCHEMA = Namespace("http://schema.org/")

# 1. Creating named graphs from scratch

In [6]:
G = ConjunctiveGraph()
G.add((URIRef("http://test1"), SCHEMA.name, Literal("name1"), URIRef("http://univ-nantes.fr/itx") ))
G.add((URIRef("http://test2"), SCHEMA.name, Literal("name2"), URIRef("http://univ-nantes.fr/itx") ))
G.add((URIRef("http://test3"), SCHEMA.name, Literal("name3"), URIRef("http://amu.fr/tagc") ))

In [45]:
print(G.serialize(format="trig"))
print(G.serialize(format="nquads"))

@prefix ns1: <http://amu.fr/> .
@prefix ns2: <http://schema.org/> .
@prefix ns3: <http://univ-nantes.fr/> .

ns1:tagc {
    <http://test3> ns2:name "name3" .
}

ns3:itx {
    <http://test1> ns2:name "name1" .

    <http://test2> ns2:name "name2" .
}


<http://test3> <http://schema.org/name> "name3" <http://amu.fr/tagc> .
<http://test1> <http://schema.org/name> "name1" <http://univ-nantes.fr/itx> .
<http://test2> <http://schema.org/name> "name2" <http://univ-nantes.fr/itx> .

In [8]:
print(G.serialize(format="turtle"))

@prefix ns2: <http://schema.org/> .

<http://test1> ns2:name "name1" .

<http://test2> ns2:name "name2" .

<http://test3> ns2:name "name3" .

In [44]:
G2 = ConjunctiveGraph(identifier="http://univ-nantes.fr/itx")
G2.bind("sc", SCHEMA)
G2.bind("unantes", Namespace("http://univ-nantes.fr/"))
G2.add((URIRef("http://test1"), SCHEMA.name, Literal("name1")))
G2.add((URIRef("http://test2"), SCHEMA.name, Literal("name2")))

G3 = ConjunctiveGraph(identifier="http://amu/tagc")
G3.bind("amu", Namespace("http://amu/"))
G3.bind("sc", SCHEMA)
G3.add((URIRef("http://test3"), SCHEMA.name, Literal("name3")))
G3.add((URIRef("http://test4"), SCHEMA.name, Literal("name4")))
G3.add((URIRef("http://test4"), SCHEMA.identifier, Literal("id4")))

ds = Dataset()
ds.add_graph(G2)
ds.add_graph(G3)
print(ds.serialize(format="trig"))
print(ds.serialize(format="nquads"))

@prefix amu: <http://amu/> .
@prefix ns1: <urn:x-rdflib:> .
@prefix sc: <http://schema.org/> .
@prefix unantes: <http://univ-nantes.fr/> .

amu:tagc {
    <http://test3> sc:name "name3" .

    <http://test4> sc:identifier "id4" ;
        sc:name "name4" .
}

unantes:itx {
    <http://test1> sc:name "name1" .

    <http://test2> sc:name "name2" .
}


<http://test3> <http://schema.org/name> "name3" <http://amu/tagc> .
<http://test4> <http://schema.org/identifier> "id4" <http://amu/tagc> .
<http://test4> <http://schema.org/name> "name4" <http://amu/tagc> .
<http://test1> <http://schema.org/name> "name1" <http://univ-nantes.fr/itx> .
<http://test2> <http://schema.org/name> "name2" <http://univ-nantes.fr/itx> .

# 2. Parsing named graphs

# 3. Querying named graphs

In [40]:
q1 = """
PREFIX schema: <http://schema.org/>

SELECT * WHERE {
    GRAPH ?g {
        ?s schema:identifier ?id
    }
}
"""

q2 = """
PREFIX schema: <http://schema.org/>

SELECT * WHERE {
    GRAPH ?g {
        ?s schema:name ?name
    }
}
"""

In [41]:
res = ds.query(q2)
for r in res:
    print(f" found name {r['name']} for resource {r['s']} originating from {r['g']}")

 found name name3 for resource http://test3 originating from http://amu/tagc
 found name name4 for resource http://test4 originating from http://amu/tagc
 found name name1 for resource http://test1 originating from http://univ-nantes.fr/itx
 found name name2 for resource http://test2 originating from http://univ-nantes.fr/itx

In [42]:
res = ds.query(q1)
for r in res:
    print(f" found ID {r['id']} for resource {r['s']} originating from {r['g']}")

 found ID id4 for resource http://test4 originating from http://amu/tagc